<div class="card border-info mt-4 col-md-9 mx-auto">
    <div class="card-header bg-light text-black">
        <p class="fonttitle"><i class="fa-solid fa-fire"></i> Concurso</p>
    </div>
    <div class="card-body">
       <img src="/public/img/concurso.png" class="d-block w-100 img-fluid rounded" alt="...">       
       <p class="fontnav">Las indicaciones serán enviadas al correo de registro del ganador</p>
        <p class="fontnav">Plazo del concurso: hasta el 15 de noviembre de 2022</p>
    </div>

</div>











